body{
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    background-color:  #000033;
    font-family: "Jacques Francois-Regular", Helvetica;
}
ul, ol{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
h1, h2, h3, h4, h5, h6{ 
    font-weight:normal;
    margin: opx;
    padding: 0px;
}
.flex{display: flex;}
.fixed{position: fixed;}
.abs{position: absolute;}
.rel{position: relative;}
.aic{align-items: center;}
.jsc{justify-content: center;}
.bl{display: block;}
.noul{text-decoration: none;}

.cfff{color: #fff;}
.c333{color: #333;}
.c777{color: #777;}

.s18{font-size: 18px;}
.s15{font-size: 15px;}
.s14{font-size: 14px;}
.s24{font-size: 24px;}
.s20{font-size: 20px;}
.s13{font-size: 13px;}
.s28{font-size: 28px;}
.s42{font-size: 42px;}

.bordern{border: none;}
.link{color: #0d0da4;}


.f-w700{font-weight: 700;}
.f-w400{font-weight: 400;}
.f-w500{font-weight: 500;}
.f-w600{font-weight: 600;}
.f-w300{font-weight: 300;}



.fontb{font-weight: bold;}
.fontn{font-weight: normal;}
a{text-decoration: none;}
select, textarea, input{outline: none;}
